@import "color";
@import "reset";
@import "general";
@import "fonts";
@import "_media";
@import "mixin/header";
@import "mixin/aside";

body {
  display: flex;

@include aside;

  .main-box-all {
    background-color: $concrete;

    @include header;

    .content_set {
      max-width: 1170px;
      min-height: 2295px;
      margin: auto;
      box-sizing: border-box;


      .sort {
        width: 330px;
        height: 50px;
        background-color: $white;
        border-radius: 10px;
        margin: auto;
        display: none;
        @include media_mobile {
          display: block;
          margin-top: 15px;
        }

      }

      .cont-text-select {
        display: flex;
        justify-content: space-between;
        padding-left: 111px;
        padding-right: 111px;
        margin-top: 22px;

        .custom-menu{
          background-color: #FFFFFF;
          width: 198px;
          height: 70px;
          border-radius: 15px;

          .menu__list {
            border-radius: 15px;
            box-shadow: 0px 0px 18px 6px rgb(0 0 0 / 9%);
            li {
              list-style: none;
              position: relative;

              >p{
                font-family: 'DIN Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                padding-bottom: 10px;
                border-bottom: 0.5px solid #A4ACAD;
                padding-top: 26px;
                max-width: 180px;
                margin-left: 14px;

              }
              span {
                &.menu__arrow {
                  &.arrow {
                    position: absolute;
                    right: 20px;
                    top: 33px;
                    width: 0px;
                    height: 0;
                    transform: rotate(224deg);
                    border-width: 0 1px 1px 0;
                    border-style: solid;
                    border-color: $jaffa;
                    padding: 4px;

                    cursor: pointer;

                  }
                  &.active {
                    transform: rotate(45deg);
                  }
                }
              }


              a {
                cursor: pointer;

                &.sub-menu__link{
                  text-decoration: none;
                  color: black;
                  font-family: 'DIN Pro';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 22px;


                  &:hover {
                    color: $jaffa;
                  }
                }
              }
            }
            .sub-menu__list {
              display: none;
              width: 198px;
              position: absolute;
              background-color: #FFFFFF;
              box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.09);
              padding-top: 10px;
              box-sizing: border-box;
              padding-left: 13px;
              &.open {
                display: block;
              }

              >li {
                margin-bottom: 20px;
              }

            }
          }
        }
      }

      .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
          width: 288px;
          height: 400px;
          background-color: $white;
          margin-top: 30px;
          margin-right: 42px;
          padding-left: 17px;
          padding-right: 8.80px;
          box-sizing: border-box;

          &:nth-child(3), &:nth-child(6), &:nth-child(9) {
            margin-right: 0;
          }

          @include media_mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 330px;
            height: 120px;
            margin-right: 0;
            border-radius: 10px;
            padding: 18px 14px;
            -top: 10px;

          }

          img {
            width: 253px;
            height: 211px;

            @include media_mobile {
              width: 100px;
              height: 84px;
              margin-top: 18px;
            }
          }

          .content-item {
            h3 {
              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              color: $black;
              margin-bottom: 31px;

              @include media_mobile {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 5px;
              }
            }

            > p {
              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: $edward;
              margin-bottom: 21px;

              @include media_mobile {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 18px;
              }

            }
            .buy {
              display: flex;
              border-top: 0.5px solid $edward;
              padding-top: 5.70px;

              @include media_mobile {
                border-top: none;
              }


              .price {
                font-family: 'DIN Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                display: flex;
                align-items: center;
                color: $black;
                margin-right: 11px;

                @include media_mobile {
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 23px;
                }
              }

              button {
                width: 142px;
                height: 40px;
                background-color: $jaffa;
                font-family: 'DIN Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $concrete;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                @include media_mobile {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  width: 95px;
                  height: 26px;
                }

                &:hover {
                  background-color: #be380a;
                }
              }
            }
          }


        }

      }

      .pagination {

        display: flex;
        justify-content: flex-end;
        margin-top: 100px;
        margin-right: 107px;

        @include media_mobile{
          display: flex;
          margin-top: 50px;
          justify-content: center;
          align-items: center;
          margin-right: inherit;

        }

        .pagination-content {

          button {
            @include media_mobile {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              margin-right: 4px;
            }
          }
        }

        .left {
          margin-right: 14px;
        }

        .right {
          margin-left: 14px;

          @include media_mobile {
            margin-left: 10px;
          }
        }

        button {
          width: 75px;
          height: 25px;
          margin-top: 13px;
          border: 1px solid #2c2a2a;
          border-radius: 5px;
          cursor: pointer;
          margin-right: 2px;

          @include media_mobile {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }

          &.active {
            background-color: $jaffa;
            color: white;
          }
        }
      }

      .text-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 950px;
        margin: auto;
        margin-top: 100px;

        @include media_mobile {
          max-width: 330px;
        }

        h3 {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $edward;
          margin-bottom: 10px;
        }

        p {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 100%;
          color: $edward;
        }
      }
    }

    .accordionSection {
      margin-bottom: 180px;

      .accordion {

        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;

        &:hover {
          background-color: #ccc;
        }

        &:active {
          background-color: #ccc;
        }
      }

      .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
      }

    }

  }
}