@import "color";
@import "reset";
@import "general";
@import "fonts";
@import "_media";

body {

  .set {
    background-color: $concrete;
    header {
      width: 100%;
      min-height: 95px;
      border: 0.5px solid $edward;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media_mobile {
       background-color: $white;
        padding-left: 19px;
      }

      .left-content {
        display: flex;


        @include media_mobile {
          align-items: center;
        }

        img {
          display: none;
          @include media_mobile {
            display: block;
            width: 47px;
            height: 43px;
          }
        }

        .phone {
          border-right: 0.5px solid $edward;
          padding: 6px 15px 8px 35px;
          box-sizing: border-box;

          @include media_mobile {
            border-right: none;
          }

          h3 {
            font-family: 'DIN Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $cod_gray;
          }
          .number {
            font-family: 'DIN Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            color: $neonc_carrot;
          }
          .color-gray {
            font-family: 'DIN Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $edward;
          }
        }
        .city {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;

          @include media_mobile {
            display: none;
          }

          p {
            &:first-child {

              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              color: $edward;
              margin-bottom: 4px;
            }

            &:nth-child(2) {
              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
              color: $black;
            }
          }
        }
      }
      .right-content {
        display: flex;
        padding-right: 40px;

        .search-div {
          position: relative;

          button {
            display: none;
            width: 10px;
            height: 10px;
            background-image: url("../image/close.png");
            background-size: 10px;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 6px;
            right: 5px;
            background-color: inherit;

            &.show-btn {
              display: inline-block;
            }
          }

          .search {
            width: 30px;
            height: 30px;
            background-image: url("../image/search.svg");
            cursor: pointer;
          }
        }

        p {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $cod_gray;
          margin-right: 10px;

          @include media_mobile {
            display: none;
          }
        }
        .pay {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $neonc_carrot;
          text-decoration: none;
          margin-right: 69px;

          @include media_mobile {
            display: none;
          }
        }
      }

    }

    .content_set {
      max-width: 1170px;
      min-height: 2295px;
      margin: auto;
      box-sizing: border-box;


      .sort {
        width: 330px;
        height: 50px;
        background-color: $white;
        border-radius: 10px;
        margin: auto;
        display: none;
        @include media_mobile {
          display: block;
          margin-top: 15px;
        }

      }
      .cont-text-select {
        display: flex;
        justify-content: space-between;
        padding-left: 111px;
        padding-right: 111px;
      }

      .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
          width: 288px;
          height: 400px;
          background-color: $white;
          margin-top: 30px;
          margin-right: 42px;
          padding-left: 17px;
          padding-right: 8.80px;
          box-sizing: border-box;

          &:nth-child(3), &:nth-child(6), &:nth-child(9) {
            margin-right: 0;
          }

          @include media_mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 330px;
            height: 120px;
            margin-right: 0;
            border-radius: 10px;
            padding: 18px 14px;
            -top: 10px;

          }

          img {
            width: 253px;
            height: 211px;

            @include media_mobile {
              width: 100px;
              height: 84px;
              margin-top: 18px;
            }
          }

          .content-item {
            h3 {
              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              color: $black;
              margin-bottom: 31px;

              @include media_mobile {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 5px;
              }
            }

            > p {
              font-family: 'DIN Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: $edward;
              margin-bottom: 21px;

              @include media_mobile {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 18px;
              }

            }
            .buy {
              display: flex;
              border-top: 0.5px solid $edward;
              padding-top: 5.70px;

              @include media_mobile {
                border-top: none;
              }


              .price {
                font-family: 'DIN Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                display: flex;
                align-items: center;
                color: $black;
                margin-right: 11px;

                @include media_mobile {
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 23px;
                }
              }

              button {
                width: 128px;
                height: 40px;
                background-color: $jaffa;
                font-family: 'DIN Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $concrete;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                @include media_mobile {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  width: 95px;
                  height: 26px;
                }

                &:hover {
                  background-color: #be380a;
                }
              }
            }
          }


        }

      }

      .pagination {

        display: flex;
        justify-content: flex-end;
        margin-top: 100px;
        margin-right: 107px;

        @include media_mobile{
          display: flex;
          margin-top: 50px;
          justify-content: center;
          align-items: center;
          margin-right: inherit;

        }

        .pagination-content {

          button {
            @include media_mobile {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              margin-right: 4px;
            }
          }
        }

        .left {
          margin-right: 14px;
        }

        .right {
          margin-left: 14px;

          @include media_mobile {
            margin-left: 10px;
          }
        }

        button {
          width: 75px;
          height: 25px;
          margin-top: 13px;
          border: 1px solid #2c2a2a;
          border-radius: 5px;
          cursor: pointer;
          margin-right: 2px;

          @include media_mobile {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }

          &.active {
            background-color: $jaffa;
            color: white;
          }
        }
      }

      .text-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 950px;
        margin: auto;
        margin-top: 100px;

        @include media_mobile {
          max-width: 330px;
        }

        h3 {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $edward;
          margin-bottom: 10px;
        }

        p {
          font-family: 'DIN Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 100%;
          color: $edward;
        }
      }
    }

  }
}