@import "../color";
@import "../reset";
@import "../general";
@import "../fonts";
@import "../_media";

@mixin aside() {
  aside {
    min-width: 320px;
    padding-left: 100px;
    padding-right: 31px;
    box-sizing: border-box;
    background-color: #FFFFFF;

    &.closeSide {
      min-width: 70px;
      padding: 10px;
      box-sizing: border-box;
      .logo1 {
        img {
          width: 45px;
        }
      }
      .components {
        ul {
          li {
            img {
              display: block;
              margin: auto;
            }
            a {
              display: none;
            }
          }
        }
      }
    }

    .logo1 {
      border-bottom: 0.5px solid $edward;
      padding-bottom: 26px;
      padding-top: 26px;
      box-sizing: border-box;

      img{
        display: block;
        margin: auto;
      }

    }
    .components {

      ul {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        li {
          display: flex;
          margin-bottom: 31px;

          >img {
            margin-right: 20px;
          }
          a {
            font-family: 'DIN Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: $black;
            text-decoration: none;
            &:hover {
              color: $neonc_carrot;
            }
          }
        }
      }
    }
  }
}

